@use '../../../styles/vars.scss' as *;
@use '../../../styles/mixins.scss' as *;

.filter {
  margin-bottom: 20px;
}

.ideas {
  .idea {
    padding: 20px;
    margin-top: 20px;
  }

  .ideaLink {
    @include link;
  }
}

.more {
  margin-top: 15px;
}
